:root{
    /*color*/
    --color1: #black;
    --color2:#58FAF4;
    --color3:#56a83c;
    --color4: white;
    --color5: darkblue;
    --color6: #2E9AFE;
    --color7: #0080FF;
    --color8: #F9F7DC;
     /*font*/
    --font1: Segoe ui light;
    /*size*/
    --size1: 3px;
    --size2: 5px;
    --size3: 6px;
    --size4: 7px;
    --size5: 10px;
    --size6: 15px;
    --size7:20px;
    --size8:40px;
    --size9:50px;
    --size10:60px;
    --size11:100px;
    --size12:180px;
}
*{padding: 0;margin:0;}
.login{
    margin-top: var(--size1);
    margin-left: var(--size4);
    font-size: var(--size6);
}
.user .navbar-nav{
    margin-top: 10px;
}
/*thanh bảng chọn*/
.menubar {
    background-color: var(--color1);
    height: 50px;
    color: var(--color5);
}

.menubar ul {
    display: flex;
    list-style: none;
    margin-left: 100px;
    text-shadow: 2px 0 black;

}
.menubar ul li{
    font-size: var(--size1);
    font-family: var(--font1);
    display: block;
    padding: 6px 6px 15px;
    transition: 0.5s;
}
.menubar ul li:hover{
    background-color: var(--color3);
    padding-top: 3px;
    padding-bottom: 18px;
}
a.login{
    color: var(--color4);
    text-decoration: none;
}
img{
    margin-left: var(--size12);
    margin-right: var(--size7);
}
.nav-link{
    margin-right:var(--size7);
}
.far{
    margin-right: var(--size5);
    margin-left: var(--size7);
}
a.login:hover{
    text-decoration: none;
    color: var(--color4);
    opacity: 50%;
}
.fas .fa-cart-plus{
    margin-right: var(--size2);
}
.panel{
    background-color: var(--color8);
    height: var(--size9);
    color: var(--color1);
}
.panel ul{
    display: flex;
    list-style: none;
    margin-left: var(--size10);
}
.panel ul li{
    font-size: var(--size7);
    font-family: var(--font1);
    display: block;
    margin-left: var(--size4);
    padding: var(--size3);
    padding-bottom: var(--size6);
    transition: 0.5s;
}
.panel ul li a{
    text-decoration: none;
    color: var(--color1);
}