* {
    margin: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    text-size-adjust: 100%;
}

header {
    background-color: rgb(0, 0, 0);
}

main {
    background-color: rgb(245, 245, 250);
}

img {
    max-width: 100%;
}

input {
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    font: 400 13.3333px Arial;
}

button {
    appearance: auto;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    font: 400 13.3333px Arial;
}

ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


label {
    cursor: default;
}

/* header_class----------------------------------------------------------------------------------------------------------------------- */
.style__Header {
    padding-top: 1px;
    letter-spacing: normal;
    align-items: center;
}

.Container {
    width: 1270px;;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.Middle__Wrap {
    display: flex;
    padding: 5px 0px 8px;
    width: auto;
    height: auto;
    position: relative;
    z-index: 2;
    align-items: center;
}

.Middle__LeftContainer {
    display: flex;
    flex: 1 1 0%;
    align-items: center;
}

.logo-menu {
    display: flex;
    align-items: flex-start;
    flex-basis: 120px;
    flex-shrink: 0;
    padding: 0px 16px 0px 0px;
}

.style_Logo {
    display: flex;
    align-items: center;
    flex: 1 1 0%;
}

.dhs-logo {
    display: flex;
    justify-content: space-between;
    flex: 1 1 0%;
}

.dhs-logo img {
    width: auto;
    height: auto;
}

.FormSearch__Root {
    flex: 1 1 0%;
    height: auto;
    width: auto;
    margin: 0 16px;
}

.FormSearch__Form {
    width: 100%;
    display: flex;
    position: relative;
    box-shadow: rgb(98 98 98 / 50%) 0px 1px 2px 0px;
}

.FormSearch__Input {
    border: 0px;
    padding: 0px 12px;
    font-size: 13px;
    border-radius: 2px 0px 0px 2px;
    flex: 1 1 0%;
    outline: none;
}

.FormSearch__Button {
    cursor: pointer;
    border: 0px;
    width: 120px;
    background: rgb(35, 216, 19);
    height: 40px;
    border-radius: 0px 2px 2px 0px;
    color: white;
    font-size: 13px;
    font-weight: 500;
    outline: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.FormSearch__Button img {
    width: auto;
    height: 24px;
}

.Userstyle__Root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.Userstyle__Item {
    cursor: pointer;
    margin: 0px 0px 0px 16px;
    align-items: center;
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 12px;
    position: relative;
}

.profile-icon {
    background-color: rgb(195, 216, 231);
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 2px;
}

.Userstyle__NoWrap {
    padding-bottom: 3px;
}

.Userstyle__ItemText {
    color: rgb(0, 255, 255);
    font-weight: 400;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}

.Userstyle__Item2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Userstyle__NoWrap {
    align-items: center;
}

.account_laber {
    width: 100%;
    display: flex;
    position: relative;
    font-size: 13px;
    line-height: 20px;
    min-width: 120px;
    flex: 1 1 0%;
}

.arrowIcon {
    display: flex;
    width: 12px;
    height: 12px;
    margin: 5px 0 0 5px;
}

.UserHeader_UserDropDown {

    border: 1px solid  gray;
    background: rgb(255, 255, 255);
    width: auto;
    min-width: 196px;
    z-index: 15;
    list-style: none;
    margin: 0px;
    padding: 10px 0px;
    border-radius: 0px 0px 3px 3px;
    box-shadow: rgb(0 0 0 / 18%) 0px 6px 12px 0px;
    position: absolute;
    top: 36px;
    left: calc(50% + 10px);
    transform: translateX(-50%);
}

*, ::before, ::after {
    box-sizing: border-box;
}

.UserHeader_UserDropDown::before {
    border-width: 9px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 255, 255);
    border-image: initial;
    margin-left: -9px;
    bottom: 100%;
    left: 50%;
    content: " ";
    height: 0px;
    width: 0px;
    position: absolute;
    pointer-events: none;
}

.UserHeader_UserDropDown::after {
    content: " ";
    background: transparent;
    height: 20px;
    width: 150px;
    top: -20px;
    left: calc(50% - 65px);
    position: absolute;
    display: inline-block;
}

.Userstyle__CartItem {
    position: relative;
    display: block;
}

.cart-icon {
    width: 32px;
    height: 32px;
}

.cart-wrapper {
    position: relative;
    margin-right: 8px;
    display: flex;
}

.Userstyle__ItemCart {
    color: rgb(36, 36, 36);
    background: rgb(31, 182, 137);
    height: 18px;
    left: 20px;
    top: -2px;
    border-radius: 40px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-size: 13px;
    font-weight: 500;
    position: absolute;
    padding: 0px 5px;
}

.cart-text {
    text-decoration: none;
    font-size: 13px;
    color: white;
}

/* main_class----------------------------------------------------------------------------------------------------------------------- */

.Account_Layout {
    display: flex;
    width: 100%;
    margin: 0px auto 20px;
    flex-wrap: wrap;
}

.breadcrumb_Container {
    height: 40px;
    width: 100%;
}

.Account_StylesSideBar {
    width: 250px;
    margin-right: 17px;
    padding-top: 1px;
}

.Account_StylesAvatar {
    display: flex;
    align-items: center;
    padding-left: 7px;
    margin: 0px 0px 12px;
}

.Account_StylesAvatar img {
    background-color: rgb(223, 213, 213);
    width: 45px;
    padding-top: 3px;
    margin: 0px 12px 0px 0px;
    border-radius: 50%;
}

.info {
    flex: 1 1 0%;
    font-size: 13px;
    line-height: 15px;
    color: rgb(51, 51, 51);
    font-weight: 300;
}

.info strong {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    display: block;
    margin: 4px 0px 0px;
}

.Account_NavBar {
    height: 400px;
    list-style: none;
    font-size: 13px;
}

.Account_NavBar a:hover, .Account_NavBar a:active, .Account_NavBar a:focus, .Account_NavBar is-active {
    background-color: rgb(235, 235, 240);
    color: rgb(0, 0, 0);

}
.UserHeader_UserDropDown .UserHeader_UserDropDownItem {
    margin-bottom: 10px;
    font-size: 15px;
}
.Account_NavBar a {
    text-decoration: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 7px 18px;
}

.Account_StylesAccountLayoutInner {
    flex: 1 1 0%;
    padding-top: 1px;
}

.HeadingContent {
    font-size: 30px;
    line-height: 21px;
    font-weight: 300;
    margin: 10px 0px 15px;
}

.Content_StylesNav {
    background-color: white;
    padding: 30px 20px;
    border-radius: 4px;
    display: flex;

}



.form-control {
    display: flex;
padding-left: 230px;
    margin: 0px 0px 15px;

}
.buyingitem{
    display: flex;
}
.input-label {
    width: 110px;
    min-width: 110px;
    font-size: 17px;
    color: rgb(51, 51, 51);

}

.disableForm{
    display: none;
}
.enableForm{
    display: block;
}
.Content_StylesNav{
    align-items: center;
}
.Input-styles{
    margin-left: 100px;
    width: 300px;
}
.Input-styles1{
    width: 970px;
}



.avt{
    height: 200px;
    left: -100px;
}
.temp{
    height: 200px;
    width: 200px;
    position: absolute;
    left: 61%;

    margin-left: -680px;
    padding-top: 160px;
    transform: translate(-50%,-50%);
    border-radius: 50%;


}
.Radio_StylesRadio{

}
.styles_StylesBirthdayPicker{
    margin-left: 100px;
    display: flex;
}
.selectday{
    margin-right: 20px;
}
.sexcheck{
    display: flex;
    margin-right: 100px;
}
#photo{
    height: 60px;
    width: 60px;
    border: 1px solid gray;
}
#file{
    display: none;
}
#uploadBtn{
    height: 40px;
    width: 80px;
position: absolute;
    transform: translateX(-50%);
 right: 77%;
    bottom: -30px;
    text-align: center;
    line-height: 30px;
    font-family: "Segoe UI Light";
    font-size: 8px;
    cursor: pointer;
    left: 30px;
}
a span{
    font-size: 16px;

}
a{
    text-decoration: none;
}
.name{
    text-transform: uppercase;
}

td{
    text-align: center;
}
table.comment {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.15;
    text-size-adjust: 100%;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 1px;

}
table tr th td{
    text-align: center;
}
.new{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.15;
    text-size-adjust: 100%;
    box-sizing: border-box;
}
.new a{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    line-height: 1.15;
    text-size-adjust: 100%;
    box-sizing: border-box;
    color: rgb(0, 127, 240);
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    height: 60px;
    border: 1px dashed rgb(216, 216, 216);
    margin: 0px 0px 10px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.formthemdiachi .inputdiachi{
width: 400px;
}
.back{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    line-height: 1.15;
    text-size-adjust: 100%;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    width: 190px;
    border-radius: 4px;
    color: rgb(74, 74, 74);
    font-size: 14px;
    background-color: rgb(253, 216, 53);
    display: block;
    margin-left: 400px;
}
